################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/chat-bot-clients/ChatBot.EveWinForms/packages/Newtonsoft.Json.12.0.3
