$color-container-bkg: rgba(222,222,222,0.5);

$color-caption-bkg-default: rgba(222,222,222,0.5);
$color-text-default: #808080;
$color-chevron-default: rgba(128,128,128,1);

$color-caption-bkg-hover: rgba(222,222,222,1);
$color-text-hover: #808080;
$color-chevron-hover: rgba(128,128,128,1);

$color-caption-bkg-active: rgba(177,178,178,1);
$color-text-active: rgba(255,255,255,0.87);
$color-chevron-active: #FFFFFF;

$color-background-disabled: #DEDEDE;
$color-text-disabled: rgba(0,0,0,0.87);
$color-chevron-disabled: #FFFFFF;

$color-element-body: #FFFFFF;
$color-element-shadow-default: rgba(0,0,0,0.12);
$color-element-shadow-active: rgba(0,0,0,0.41);
