/node_modules
/dist

!/widgets
/widgets/*

!/widgets/default-widget/
/widgets/default-widget/dist

!/widgets/chat-widget/
/widgets/chat-widget/dist

!/widgets/requests-widget/
/widgets/requests-widget/dist

!/widgets/vacation-widget/
/widgets/vacation-widget/dist

!/widgets/bonus-widget/
/widgets/bonus-widget/dist

!/widgets/calendar-widget/
/widgets/calendar-widget/dist

!/widgets/timesheet-widget/
/widgets/timesheet-widget/dist

!/plugins
!/plugins/*
!/plugins/default-plugin/
/plugins/default-plugin/dist
!/plugins/chat-plugin/
/plugins/chat-plugin/dist

!/pages
/pages/*
!/pages/useful-links/
/pages/useful-links/dist

!/pages/timesheet/
/pages/timesheet/dist
/pages/timesheet/node_modules

!/pages/report/
/pages/report/dist
/pages/report/node_modules

!/pages/usefullinksadmin/
/pages/usefullinksadmin/dist


!/pages/adminmain/
/pages/adminmain/dist

!/pages/chatbotadmin/
/pages/chatbotadmin/dist

.gitmodules
tslint.json
/.vscode
/.vs
!.npmrc
/.history

Jenkins/validate-pipeline.sh
