; What level of logs to report. On failure, all logs are written to npm-debug.log in the current working directory.
; Any logs of a higher level than the setting are shown. The default is "warn", which shows warn and error output.
; Default: "warn"
; Values: "silent", "error", "warn", "http", "info", "verbose", "silly"
;loglevel = error

; The base URL of the npm package registry.
; Default: https://registry.npmjs.org/
; Internal: http://nexus.sigma.sbrf.ru:8099/nexus/content/groups/npmjs-group/
registry = http://sbt-osop-0256.sigma.sbrf.ru:10000/repository/npm/

; If set to false, then ignore npm-shrinkwrap.json files when installing.
; Default: true
shrinkwrap = false

; SSL settings
; Default: true
strict-ssl = false

; Proxy settings
; HIGHLY NOT RECOMMENDED TO USE!
;proxy = http://10.23.128.11:8080
;https-proxy = http://10.23.128.11:8080


; EXTERNAL DEPENDENCIES v

; NodeSass
; Default: https://github.com/sass/node-sass/releases/download
; Internal: http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/github_proxy/sass/node-sass/releases/download
sass_binary_site = http://sbt-osop-0256.sigma.sbrf.ru:10000/repository/raw/sass/node-sass/releases/download

; PhantomJS
phantomjs_cdnurl=http://sbt-osop-0256.sigma.sbrf.ru:10000/repository/raw/ariya/phantomjs/downloads

; electron
; Do not delete '/v' at the end! It is essential for proxy to work!
electron_mirror=http://sbt-osop-0256.sigma.sbrf.ru:10000/repository/raw/electron/electron/releases/download/v

; EXTERNAL DEPENDENCIES ^
