<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\nlog\chatbot-admin-worker\internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="all" fileName="${environment:variable=LOG_ENVIRONMENT}\chatbot-admin-worker\nlog-${shortdate}.log" encoding="utf-8"
            layout="${date:universalTime=false:format=O}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=toString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="all" />
  </rules>
</nlog>